/*========================================Global========================================*/
html,
body{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 15px;

    @media only screen and (max-width: 576px) {
        padding: 0 33px;
    }

    @media only screen and (max-width: 425px) {
        padding: 0 15px;
    }
}

.main{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*======================================================================================*/