/*========================================COLORS========================================*/
$main-bg: #F7E705;
$blue-button: #2FB6B8;
$black: #323232;
$pink-button: #D3003C;
/*======================================================================================*/


/*========================================BORDERS=======================================*/
// $main-border: 1px solid #FFFFFF;
/*======================================================================================*/


/*========================================SHADOWS=======================================*/
// $main-shadow: 0px 0px 10px #FFFFFF;
/*======================================================================================*/


/*=======================================ELEMENTS=======================================*/
// $main-element: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
/*======================================================================================*/