/*=========================================MAIN=========================================*/
.footer{
    &__text{
        font-family: "PT Sans";
        font-size: 10px;
        font-weight: 400;
        color: #000;
        line-height: 10px;
        padding-bottom: 108px;

        @media only screen and (max-width: 576px) {
            padding-bottom: 80px;
        }
    }
}
/*======================================================================================*/


/*========================================CONTENT=======================================*/

/*======================================================================================*/


/*=======================================COPYRIGHT======================================*/

/*======================================================================================*/