/*=====================================TOP SECTION======================================*/
.top{

    @media only screen and (min-width: 577px) {
        min-height: 100vh;
    }

    &__image{
        position: absolute;
        top: 239px;
        left: 0;
        z-index: -1;

        @media only screen and (max-width: 576px) {
            top: 533px;
            object-fit: cover;
            max-width: none;
        }

        @media only screen and (max-width: 425px) {
            top: 490px;
        }

        @media only screen and (max-width: 302px) {
            top: 500px;
        }
    }

    &__inner{
        max-width: 540px;
        padding-top: 266px;
        text-align: center;
        margin-left: auto;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: 1200px) {
            margin: 0 auto;
        }

        @media only screen and (max-width: 576px) {
            padding-top: 206px;
        }

        @media only screen and (max-width: 425px) {
            padding-top: 170px;
        }
    }

    &__wish{
        display: inline-block;
        margin-bottom: 30px;
        animation: animate_shadow 1.5s ease-in infinite;

        @media only screen and (max-width: 576px) {
            order: 4;
            margin-bottom: 0;
            margin-top: 105px;
            padding-bottom: 132px;
        }
    }

    &__button{
        @extend %button-reg;
        font-family: "Roboto";
        text-transform: uppercase;
        border-radius: 60px;
        transition: .3s all;
        outline: none;
        animation: animate_slogan 2s ease infinite;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 0px 5px rgb(63, 63, 63);
        }

        &:active{
            transform: scale(1);
        }

        @media only screen and (max-width: 576px) {
            order: 1;
            max-width: 100%;
            font-size: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @media only screen and (max-width: 425px) {
            font-size: 24px;
        }
    }

    &__social{
        display: flex;
        justify-content: space-between;
        width: 272px;
        align-items: center;
        padding-top: 38px;

        @media only screen  and (min-width: 280px) and (max-width: 375px) {
            width: 260px;
        }

        &-text{
            font-family: 'Roboto';
            font-weight: 700;
            text-transform: uppercase;
            color: $black;
            font-size: 30px;
            margin-left: 7px;
        }

        &-viber{
            transition: .3s all;
            &:hover{
                transform: scale(1.05);
            }
            outline: none;

            &_img{
                transition: .3s all;
                &:hover{
                    filter: drop-shadow(0 0 5px rgb(107, 107, 107));
                }
            }
        }

        &-telegram{
            transition: .3s all;
            &:hover{
                transform: scale(1.05);
            }
            outline: none;

            &_img{
                transition: .3s all;
                &:hover{
                    filter: drop-shadow(0 0 5px rgb(107, 107, 107));
                }
            }
        }

        @media only screen and (max-width: 576px) {
            order: 2;
            padding-top: 33px;
        }
    }
}


@keyframes animate_shadow {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.96);
    }
    to {
        transform: scale(1);
    }
}

@keyframes animate_slogan {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(#D3003C, 0.563);
        box-shadow: 0 0 0 0 rgba(#D3003C, 0.563);
    }
    70% {
        -webkit-box-shadow: 0 0 0 12px transparent;
        box-shadow: 0 0 0 12px transparent;
    }
    to {
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }
}
/*======================================================================================*/


/*====================================GIFTS SECTION=====================================*/
.gifts{
    padding-bottom: 84px;
    margin-bottom: -178px;

    &__inner{
        padding-top: 87px;
        padding-bottom: 93px;

        @media only screen and (max-width: 576px) {
            padding-top: 0;
        }
    }

    &__title{
        @extend %title;
        color: #004E85;
        text-transform: uppercase;
        background-color: #fff;
        padding: 20px 8px;
        text-align: center;
        max-width: 980px;
        margin: 0 auto;
        box-shadow: 0px 0px 15px #fff;

        @media only screen and (max-width: 576px) {
            max-width: 510px;
            font-size: 35px;
            padding: 15px 10px;
        }

        @media only screen and (min-width: 280px) and (max-width: 540px) {
            font-size: 24px;
        }
    }

    &__gallery{
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        grid-gap: 0px 28px;
        padding-top: 84px;
        padding-bottom: 93px;

        @media only screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, auto);
            grid-gap: 39px 15px;
        }

        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(1, auto);
        }

        @media only screen and (max-width: 576px) {
            grid-gap: 39px 15px;
        }

        &-group{
            width: 352px;
            position: relative;

            @media only screen and (max-width: 576px) {
                width: 317px;
            }

            @media only screen and (max-width: 375px) {
                width: 250px;
            }
        }

        &-img{
            @media only screen and (max-width: 576px) {
                max-width: 300px;
            }

            @media only screen and (max-width: 375px) {
               max-width: 250px;
            }
        }

        &-count{
            position: absolute;
            right: 0;
            top: 164px;

            @media only screen and (max-width: 576px) {
               top: 132px;
            }

            @media only screen and (max-width: 375px) {
                top: 100px;
                right: -15px;
             }
        }

        &-img{
            transition: .3s all;

            &:hover{
                transform: scale(1.05);
            }
        }
    }

}

.gifts__gallery-item:nth-child(3) {

    @media only screen and (min-width: 769px) and (max-width: 1200px) {
        grid-column: span 2;
        justify-self: center;
    }
}

.top__wish{
    padding-top: 10px;
    color: #004E85;
    font-family: 'Oswald';
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

    p {
        letter-spacing: -2px;
        &:nth-child(1) {
            font-size: 70px;
            line-height: 70px;
        }
        &:nth-child(2) {
            font-size: 60px;
            line-height: 90px;
        }
        &:nth-child(3) {
            font-size: 100px;
            line-height: 80px;
            span{
                font-size: 70px;
            }
        }
    }

    @media only screen and (max-width: 576px) {
        color: #fff;
        padding-top: 10px;

        p{
            letter-spacing: normal;
            &:nth-child(1) {
                font-size: 40px;
                line-height: 40px;
            }
            &:nth-child(2) {
                font-size: 30px;
                line-height: 60px;
            }
            &:nth-child(3) {
                font-size: 70px;
                line-height: 50px;
                span{
                    font-size: 40px;
                }
            }
        }
    }

    @media only screen and (min-width: 280px) and (max-width: 375px) {
        color: #fff;
        padding-top: 30px;

        p{
            letter-spacing: normal;
            &:nth-child(1) {
                font-size: 30px;
                line-height: 30px;
            }
            &:nth-child(2) {
                font-size: 20px;
                line-height: 50px;
            }
            &:nth-child(3) {
                font-size: 60px;
                line-height: 40px;
                span{
                    font-size: 30px;
                }
            }
        }
    }
}
/*======================================================================================*/