/*=======================================MASTER=========================================*/
body{
    font-weight: 400;
}

a{
    color: #FFFFFF;
    transition: .3s all;
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s all;
}
/*======================================================================================*/


/*=======================================SUPPORT========================================*/
@import '../configs/mixin';

%image-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%title{
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 700;
    color: #2FB6B8;
}

%text{
    font-family: 'PT Sans';
    font-size: 10px;
    font-weight: 400;
    color: #000;
}

%button-date{
    @include create-button(33, 350, 22);
    color: #FFFFFF;
    background-color: #2FB6B8;
    font-weight: 700;

    @media only screen and (max-width: 1024px) {
        @include create-button(24, 250, 17);
    }
}

%button-reg{
    @include create-button(50, 680, 10);
    color: #FFFFFF;
    background-color: #ED2024;
    font-weight: 700;
}
/*======================================================================================*/


/*=======================================HEADER=========================================*/
.burger{
    cursor: pointer;
    padding-top: 65px;
    width: 54px;
    height: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 768px) {
        padding-top: 0;
    }

    @media only screen and (max-width: 576px) {
       margin-left: 5px;
    }
}

.burger-line{
    width: 54px;
    height: 6px;
    background: #323232;
    position: absolute;
    transition: .3s all;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;

    &::after,
    &::before{
        content: "";
        position: absolute;
        height: 6px;
        transition: .3s all;
        border-radius: 4px;
    }

    &::after{
        top: -13px;
        background: #323232;
        width: 54px;
    }

    &::before{
        top: 13px;
        background: #323232;
        width: 54px;
    }

}

.burger.active{
    .burger-line {
        width: 35px;
        transform: translateX(-50%);
        background-color: transparent;

        &::after{
            transform: rotate(-45deg) translate(8px, 17px);
        }
    
        &::before{
            transform: rotate(45deg) translate(5px, -20px);
        }
        
    }
}
/*======================================================================================*/


/*========================================MODAL=========================================*/
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0,0,0,.6);
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}


.modal{
    z-index: -2;
    padding: 50px 40px;
    width: 500px;
    background-color: rgba(50,61,74,.761);
    border: 2px solid #fff;
    border-radius: 20px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;

    @media only screen and (max-width: 576px) {
        padding: 40px 20px;
        max-width: 100%;
    }
}

.overlay.opened{
    z-index: 20;
    opacity: 1;

    .modal{
        z-index: 100;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-form {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    font-family: "Roboto";
    color: #000;
}

.modal-form, .modal-form input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.close-btn{
    position: absolute;
    top: -40px;
    right: -25px;
    -webkit-transition: all .8s;
    transition: all .8s;
    cursor: pointer;

    img{
        height: 23px;
        width: 23px;
    }

    @media only screen and (max-width: 576px) {
        top: -25px;
        right: 5px;
    }
}

.modal-form__title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    font-family: 'Roboto';
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    @media only screen  and (min-width: 280px) and (max-width: 540px) {
        font-size: 32px;
    }
}

.modal-form .modal-form__label {
    text-align: left;
}

.modal-form__label:not(:first-child) {
    margin-top: 20px;
}

.modal-form input {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 57px;
    padding: 0 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fcfcfc;
    border-radius: 20px;

    @media only screen  and (min-width: 280px) and (max-width: 540px) {
        font-size: 18px;
    }
}

input {
    width: 100%;
    outline: 0;

    &::placeholder{
        font-weight: 400;
        font-size: 20px;

        @media only screen  and (min-width: 280px) and (max-width: 540px) {
            font-size: 16px;
        }
    }

}

.checkbox {
    margin-bottom: .2em;
    padding-left: 40px;
}

.checkbox {
    margin: 20px 0 0;

    @media only screen and (max-width: 425px) {
        width: 250px;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
    }
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox>span, .custom-checkbox>span a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #fff;

    @media only screen  and (min-width: 280px) and (max-width: 540px) {
        font-size: 16px;
        line-height: normal;
    }
}

.custom-checkbox>span, .custom-checkbox>span {
    @media only screen  and (min-width: 280px) and (max-width: 540px) {
        margin-left: 10px;
        font-size: 16px;
        line-height: normal;
    }

    @media only screen and (max-width: 425px) {
        display: flex;
        flex-direction: column;
    }
}

.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border: 1.5px solid #fffefe;
    background-color: #fff;
    border-radius: 5px;
    margin-right: .5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    position: absolute;
    left: 10px;
    cursor: pointer;

}

.custom-checkbox>span a {
    color: #0a7bfd;
    text-decoration: underline;
    margin-left: 4px;
}

.custom-checkbox>input:checked+span::before {
    background-color: #fff;
    background-image: url('../../images/checkbox.svg');
}

.result-text {
    color: #f13a13;
    text-align: center;
    font-size: 18px;
    display: block;
    max-width: 354px;
    margin-top: 15px;
}

#circularG, .select {
    position: relative;
}

#circularG {
    width: 33px;
    height: 33px;
    margin: 10px auto auto;
}

.loader {
    display: none;
}

.loader.active{
    display: block;
}

.circularG {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #fff;
    -webkit-animation-name: bounce_circularG;
    animation-name: bounce_circularG;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    border-radius: 5px;
}

#circularG_1 {
    top: 13px;
    left: 0;
    -webkit-animation-delay: .41s;
    animation-delay: .41s;
}

#circularG_2 {
    top: 3px;
    left: 3px;
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}

#circularG_3 {
    top: 0;
    left: 13px;
    -webkit-animation-delay: .69s;
    animation-delay: .69s;
}

#circularG_4 {
    top: 3px;
    right: 3px;
    -webkit-animation-delay: .83s;
    animation-delay: .83s;
}

#circularG_5 {
    top: 13px;
    right: 0;
    -webkit-animation-delay: .97s;
    animation-delay: .97s;
}

#circularG_6 {
    right: 3px;
    bottom: 3px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

#circularG_7 {
    bottom: 0;
    left: 13px;
    -webkit-animation-delay: 1.24s;
    animation-delay: 1.24s;
}

#circularG_8 {
    bottom: 3px;
    left: 3px;
    -webkit-animation-delay: 1.38s;
    animation-delay: 1.38s;
}

.modal-form__btn:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
.modal-form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
    height: 60px;
    margin: 20px auto 0;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    font-family: Roboto;
    color: #fff;
    text-transform: uppercase;
    background: #e31b1b;
    border-radius: 20px;
    -webkit-transition: all .4s;
    transition: all .4s;

    @media only screen  and (min-width: 280px) and (max-width: 540px) {
        font-size: 20px;
        width: 100%;
    }
}

.modal-form__btn:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
/*======================================================================================*/